main p {
    max-width: 800px;
    font-size: 20px;
    color: rgb(231, 227, 227);
}

.main-about span {
    font-size: 25px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: start;
    align-items: start;
    margin-bottom: 2.5rem;
    width: 100%;
}

.info img {
    height: 380px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgba(170, 170, 170, 0.83);
    pointer-events: none
}

.info .perfil-img {
    border-radius: 18px;
}

#my-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
}

.personal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex-grow: 1;
    gap: 20px;
}

.personal .div-text {
    width: 100%;
}

.personal h1 {
    margin: 0;
    padding: 0 0 20px 0;
    font-size: 75px;
}

.personal p {
    margin-top: 0;
}

#follow-about {
    display: flex;
    gap: 8px;
    align-items: center;
}

#text {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 23px;
    text-wrap: balance;
}

.personal img {
    height: 20px;
    padding: 5px;
    transition: 0.3s ease;
}

.div-text a:hover {
    transform:translateX(2px)
}

.see-work {
    display: block;
}

#my-name {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.skill-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 8 - 20px);
    flex-grow: 1;
    transition: 0.2s ease-in-out;
}

.skill-card-container:hover {
    transform: scale(1.05);
}


.skill-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-card {
    background-color: rgb(223, 223, 223);
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: subgrid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.skill-card .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(32, 32, 32);
}

.skill-card .logo:hover {
    color: rgb(0, 0, 0);
}

.skill-card .logo img {
    max-width: 70px;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.section-about {
    background-color: rgba(162, 163, 175, 90%);
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 95%;
}

.section-about .skills {
    width: 80%;
    color: black;
    margin-bottom: 2rem;
}


@media screen and (min-width: 1080px) {
    .skill-container {
        padding-top: 2rem;
        margin-bottom: 8rem;
    }
    .section-about {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1137px) {
    .info .perfil-img {
        max-width: 50%;
        height: auto;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 920px) {
    .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
    }

    .info .perfil-img {
        max-width: 70%;
        height: auto;
        margin-bottom: 2rem;
    }

    .personal img {
        height: 20px;
        padding: 5px;
        transition: 0.3s ease;
    }
    .info .personal h1 {
        font-size: 60px;
    }
}