.contact-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    gap: 15px;
    margin-bottom: 4rem;
}

.body-contact {
    color: white;
    margin:0;
    padding:0;
    height:100%;
    position: relative;
    margin-bottom: 0;
}

input {
    border: 1px solid var(--color);
    border-radius: 8px;
    padding: 0.4rem 2rem 0.4rem 0.8rem;
    background: #25252586;
    color: white;
}

#message {
    padding: 0.4rem 2rem 4rem 0.8rem;
}

.contact-group {
    display: flex;
    gap: 15px;
    justify-content: end;
    align-items: start;
}

form label {
    font-size: 20px;
}

.email-link {
    font-size: 22px;
}

.contact-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding: 6rem;
}

.form-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-top: 4rem;
}

.form-inside {
    text-align: center;
}

#cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cv-title {
    margin-bottom: 1rem;
}

aside {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 19rem;
    height: 29rem;
}

@media screen and (max-width: 768px) {
    .contact-main {
        flex-direction: column;
    }
    .form-container {
        width: 100%;
        align-items: center;
    }

    aside {
        width: 100%;
    }

    iframe {
        width: 15rem;
        height: 20rem;
    }
}

@media screen and (min-width: 1024px) {
    .form-container {
        width: 58%;
    }

    aside {
        width: 42%;
    }
}