:root {
    --color-primary: rgb(4, 3, 5);
    --color-secondary: rgb(2, 2, 2);
    --color-secondary-nav: rgba(2, 2, 2, 0.89);
    --color-highlight: rgb(92, 103, 163);
    --color-change: rgb(162, 163, 175);
    --color-change-nav-1: rgba(162, 163, 175, 0.945);
    --color-change-nav: rgba(175, 175, 175, 0.932);
    --color-highlight-1: rgba(91, 100, 155, 0.788);
    --color-medium: rgb(41, 45, 65);
    --color-medium-nav: rgba(41, 45, 65, 0.384);
    --color-gradient: linear-gradient(90deg, #817ff0 10%, #e0e2f0 70%);
    --color: rgb(228, 29, 62);
    --color-back: rgba(12, 11, 11, 0.945);
    --color-work: rgba(228, 29, 62, 0.911);
    --color-work-1: rgba(228, 29, 62, 0.644);
    --color-work-off: rgba(228, 29, 62, 0.178);
    --color-button: rgba(224, 29, 61, 0.952);
    --primary: rgba(241, 48, 80, 0.705);
    --color-nav: rgba(223, 223, 223, 0.459);
    --color-nav: rgba(177, 178, 189, 0.425);
    --combinado: linear-gradient(to right, red, violet)
}

html, body {
    color: white;
    margin:0;
    padding:0;
    height:100%;
    position: relative;
    opacity: 1;
    transition: 0.5s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

html {
    background-color: black;
}

.fade {
    color: #0e0e0eef;
    opacity: 0;
    width: 100%;
    height: 100%;
    animation: fadeAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeAnimation {
    from {
        transform: translateX(-70%);
        opacity: 0.2;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.container {
    min-height: 100vh;
    padding-bottom: 5rem;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
} 

header li {
    padding: 8px;
    border-radius: 5px;
}

.nav-item:active {
    animation-name: nav;
    animation-duration: 0.3s;
}

nav a:hover {
    text-decoration: none;
    color: var(--color);
}

/* FLAGS */
.checkbox-div .switch {
    display: none;
  }
  
  .checkbox-div .switch + label {
    color: #e3e3e7;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    line-height: 15px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0.5px solid rgba(255, 255, 255, 0.322);
    border-radius: 15px;
  }
  
  .checkbox-div .switch + label::before,
    .checkbox-div .switch + label::after {
    content: '';
    display: block;
  }
  
  .checkbox-div .switch + label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 15px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 25px;
  }
  
  .checkbox-div .switch + label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 13px;
    left: 1px;
    position: absolute;
    top: 1px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 13px;
}
  
.checkbox-div .switch + label .switch-x-toggletext {
    display: block;
    height: 15px;
    overflow: hidden;
    position: relative;
    width: 25px;
}
  
.checkbox-div .switch + label .switch-x-unchecked,
    .checkbox-div .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
}
  
.checkbox-div .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
  
.checkbox-div .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
  
.checkbox-div .switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
}
  
.checkbox-div .switch:checked + label::before {
    background-color: var(--color);
}
  
.checkbox-div .switch:checked + label::after {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
}
  
.checkbox-div .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
  
.checkbox-div .switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
   
.checkbox-div img {
    height: 15px;
    border-radius: 2px;
}

a .active {
    background-color: rgb(241, 241, 241);
    color: black;
}

.active span {
    color: var(--color);
}

@keyframes nav {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: black;
    }
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    transition: 0.4s ease;
    position: sticky;
    top: 0;
    z-index: 2;
}

#nav.nav-sticky {
    background-color: var(--color-nav);
    box-shadow: 2px 2px 2px 0px rgba(197, 197, 197, 0.808);
    backdrop-filter: blur(4px);
}

#toggle-menu {
    display: none;
}

button#toggle-menu {
    padding: 5px 15px 5px 15px;
}

#mobile-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-secondary-nav);
}

#mobile-menu.active {
    display: block;
}

.categories-mobile {
    display: none;
}

@media (max-width: 768px) {

    #toggle-menu {
        display: block;
    }

    #nav ul.categories {
        display: none;
    }

    #mobile-menu {
        border: 1px solid white;
    }

    .categories-mobile {
        display: block;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.word-color {
    color: var(--color)
}

#logo {
    justify-content: start;
    margin-left: 25px;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.my-name {
    opacity: 95%;
    font-size: 100px;
}

#smedia {
    display: flex;
    justify-content:end;
}

#smedia img {
    margin-right: 25px;
}

#smedia img:hover {
    opacity: 80%;
}

h1 {
    font-size: 85px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 8rem;
    font-size: 1.8rem;
}

main h1 {
    margin-bottom: 0;
}

main h3 {
    font-size: 38px;
    margin-top: 0.8;
    margin-bottom: 1;
}

.main-index {
    text-align: center;
    padding-top: 12rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(228, 226, 226);
    color: rgb(204, 204, 204);
}

hr {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 0.8px;
}

footer {
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
    background-color: var(--color-primary);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;
    flex-wrap: wrap;
}

footer hr {
    margin: 0;
}

hr.final {
    opacity: 0%;
}

footer p {
    text-align: center;
}

#smedia-footer {
    display: flex;
    flex-direction: row;
    align-items: start;
}

#smedia-footer a:hover {
    color: var(--color);
    text-decoration: none;
}

canvas {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px; 
    opacity: 80%;
    padding-bottom: 4rem;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: calc(100%);
    top: 0;
    z-index: -1;
    background: var(--color-primary);
}

button {
    font-size: 1.2rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525e7;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 0;
  }

  button:hover {
    border-color: var(--color-button);
    box-shadow: 3px 3px #E41D3E;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

.button {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525d7;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 0;
}

.button:hover {
    border-color: var(--color-button);
    box-shadow: 3px 3px #E41D3E;
    text-decoration: none;
}
  
.button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
    text-decoration: none;
}

.float-effect {
    margin-top: 2rem;
    font-size: 20px;
    border-right: 2px solid #585858;
    white-space: pre;
    overflow: hidden;
    padding: 8px;
    animation: float-effect 3s ease-in-out infinite;
    display: flex;
    justify-content: center;
    color: var(--primary);
    opacity: 90%;
}
  
@keyframes float-effect {
    0%, 100% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #333 }
}

@media screen and (max-width: 400px) {
    #smedia-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    footer {
        background-color: transparent;
    }

    h1 {
        font-size: 55px;
    }

    .checkbox-div label {
        width: 60px;
    }
}