:root {
    --color-primary: rgb(4, 3, 5);
    --color-details: rgb(18, 13, 37);
    --color-highlight: rgb(92, 103, 163);
    --color-highlight-1: rgba(91, 100, 155, 0.788);
    --color-medium: rgb(41, 45, 65);
    --color-medium-nav: rgba(41, 45, 65, 0.384);
}

html, body {
    color: white;
    margin:0;
    padding:0;
    background:rgb(4, 3, 5);
    height:100%;
    /* overflow:hidden; */
    position: relative;
    padding-bottom: 5rem;
}

.container {
    min-height: 100vh;
    padding-bottom: 5rem;
    position: relative;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
} 

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    transition: 0.35s ease;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav:hover {
    background-color: rgba(182, 182, 182, 0.233);
    background-color: var(--color-medium-nav);
}

#nav.nav-sticky {
    background-color: rgba(14, 10, 14, 0.87);
}

#logo {
    justify-content: start;
    margin-left: 25px;
}

.categories {
    display: flex;
    justify-content: center;
} 

#smedia {
    display: flex;
    justify-content:end;
}

#smedia img {
    margin-right: 25px;
}

img:hover {
    opacity: 80%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 10rem;
}

.main-nav {
    font-family: 'GFS Didot';
    font-size: 1.8rem;
}

main h1 {
    margin-bottom: 0;
}

main h3 {
    font-size: 38px;
    margin-top: 0.8;
    margin-bottom: 1;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(228, 226, 226);
    color: rgb(216, 216, 216);
}

footer {
    display: none;
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
}

footer hr {
    border: 1px solid white;
    margin: 0;
}

#text-footer {
    flex: 0.2;
    display: flex;
    justify-content: center;
}

#smedia-footer {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

footer p {
    text-align: center;
}

canvas {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px; 
    opacity: 60%;
    margin-bottom: 5rem;
}

button {
    font-family: monospace;
    font-size: 1.2rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    margin: 0;
  }
  
  button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }

  button:hover {
    background-color: var(--color-highlight-1);
  }

hr.final {
    width: 200px;
    margin: 0 auto;
    opacity: 80%;
}

.typing-effect {
    font-size: 24px;
    border-right: 2px solid #333;
    white-space: pre;
    overflow: hidden;
    padding: 8px;
    animation: typing 2s steps(15, end), blink-caret 0.75s steps(1, end) 2s infinite;
    display: flex;
    justify-content: center;
    color: var(--color-highlight);
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 20% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #333 }
}