:root {
    --color-primary: rgb(4, 3, 5);
    --color-secondary: rgb(2, 2, 2);
    --color-secondary-nav: rgba(2, 2, 2, 0.89);
    --color-highlight: rgb(92, 103, 163);
    --color-change: rgb(162, 163, 175);
    --color-change-nav-1: rgba(162, 163, 175, 0.945);
    --color-change-nav: rgba(175, 175, 175, 0.932);
    --color-highlight-1: rgba(91, 100, 155, 0.788);
    --color-medium: rgb(41, 45, 65);
    --color-medium-nav: rgba(41, 45, 65, 0.384);
    --color-gradient: linear-gradient(90deg, #817ff0 10%, #e0e2f0 70%);
    --color: rgb(228, 29, 62);
    --color-back: rgba(12, 11, 11, 0.945);
    --color-work: rgba(228, 29, 62, 0.911);
    --color-work-1: rgba(228, 29, 62, 0.644);
    --color-work-off: rgba(228, 29, 62, 0.178);
    --color-button: rgba(224, 29, 61, 0.952);
    --primary: rgba(241, 48, 80, 0.705);
    --color-nav: rgba(223, 223, 223, 0.459);
    --color-nav: rgba(177, 178, 189, 0.425);
    --combinado: linear-gradient(to right, red, violet)
}

html, body {
    color: white;
    margin:0;
    padding:0;
    height:100%;
    position: relative;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
}

.container {
    min-height: 100vh;
    padding-bottom: 5rem;
    position: relative;
}

.fade {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.loaded {
    opacity: 1;
}

h1 {
    font-size: 85px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-top: 8rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

main h1 {
    margin-bottom: 0;
}

main h3 {
    font-size: 38px;
    margin-top: 0.8;
    margin-bottom: 1;
}

.main-index {
    text-align: center;
    padding-top: 12rem;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(228, 226, 226);
    color: rgb(204, 204, 204);
}

hr {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    height: 0.1px;
}

canvas {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px; 
    opacity: 80%;
    padding-bottom: 4rem;
}

#tsparticles {
    position: fixed;
    width: 100%;
    height: calc(100%);
    top: 0;
    z-index: -1;
    color: #E41D3E;
    background: var(--color-primary);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #FAFAFA;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FAFAFA;
    background: #252525d7;
    box-shadow: 3px 3px #fafafa;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0;
}

button:hover {
    border-color: var(--color-button);
    box-shadow: 3px 3px #E41D3E;
}
  
button:active {
    box-shadow: none;
    transform: translate(3px, 3px);
}